
@media (max-width: 1440px) {
    .container {
        width: 100%;  
    }
}

@media (max-width: 625px) {

  a#headerLogo  {order: 1;}
  a#headerMenu  {order: 3;}
  a#headerLogin  {order: 2;}

.container {
    height: 300px;
  }

}

