* {
    margin: 0;
    height: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6E54A3;
    height: 150px;
    width: 1440px;
  }
  
  div#headerLogo  {order: 1;}
  div#headerMenu  {order: 2;}
  div#headerLogin  {order: 3;}


  .logo {
    width: 80px;
    height: 80px;
    margin: 10px;
  }
  
  .logo img {
    width: 80px;
    height: 80px;
  }
  
  .menu {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
  
  .menu-button {
    display: block;
    width: 100px;
    height: 16px;
    margin: 10px;
    background-color: transparent;
    color: #F4DE8A;
    text-align: center;
  }
  
  a#menuHome  {order: 1;}
  a#menuAbout  {order: 2;}
  a#menuServ  {order: 3;}
  a#menuPort  {order: 4;}
  a#menuKont  {order: 5;}
  a#menuNew  {order: 6;}
  a#menuFAQ  {order: 7;}

  .login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 80px;
  }
  
  .login-button {
    width: 140px;
    height: 45px;
    background-color: #3F2E4D;
    color: #F4DE8A;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    /* margin: 100%; */
    /* display: block;
    padding: 5px; */
  }
  
  .login-button:focus {
    outline: none;
  }
  
  /* .login-button::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    background-color: #A2C8EA;
    z-index: -1;
  } */
